---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif:  "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
